<div class="user-form">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form__container">
    <h1 class="user-form__title">Please fill the form below to create a user:</h1>

    <mat-form-field appearance="fill">
      <mat-label class="user-form__field-title">Username</mat-label>
      <input matInput formControlName="username" required>
      @if (userForm.get('username')?.hasError('required')) {<mat-error> Username is required </mat-error>}
      @if (userForm.get('username')?.hasError('minlength')) {<mat-error> Username is at least 6 characters long </mat-error>}
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="user-form__field-title">Password</mat-label>
      <input matInput [type]="hidePassword() ? 'password' : 'text'" type="password" formControlName="password" required>
      <button mat-icon-button matSuffix type="button" (click)="hidePassword.set(!hidePassword())" class="user-form__toggle-visibility">
        <mat-icon>{{ hidePassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      @if (userForm.get('password')?.hasError('required')) {<mat-error> Password is required </mat-error>}
      @if (userForm.get('password')?.hasError('minlength')) {<mat-error> Password is at least 2 characters long </mat-error>}
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="user-form__field-title">Repeat Password</mat-label>
      <input matInput [type]="hideRepeatPassword() ? 'password' : 'text'" type="password" formControlName="repeatPassword" required>
      <button mat-icon-button matSuffix type="button" (click)="hideRepeatPassword.set(!hideRepeatPassword())" class="user-form__toggle-visibility">
        <mat-icon>{{ hideRepeatPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      @if (userForm.get('repeatPassword')?.hasError('required')) {<mat-error> Password is required </mat-error>}
      @if (userForm.get('repeatPassword')?.hasError('minlength')) {<mat-error> Password is at least 2 characters long </mat-error>}
      @if (!paswordsMatch()) {<mat-error> Passwords must match </mat-error>}
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="user-form__field-title">Date Expiration</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (userForm.get('date')?.hasError('required')) {<mat-error> Expiration date is required </mat-error>}
    </mat-form-field>

    <mat-checkbox formControlName="enabled">User enabled</mat-checkbox>

    <button  mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid" class="user-form__button">
      Create User
    </button>
  </form>
</div>
